html {
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    background: white;
}
div.content {
    display: block;
    overflow: auto !important;
    position: absolute;
    z-index: 3;
    top: 26px;
    bottom: 52px;
    width: 100%;

    margin-left: 0;
    left: 0;
    background: white;
}


#panel_1 div.content{
    top: 26px;
    bottom: 52px;
    overflow: hidden;

}
#panel_2 div.content{
    top: 52px;
    bottom: 26px;
    overflow: hidden;

}
#panel_3 div.content{
    top: 78px;
    bottom: 0;

}

div.head {
    position: absolute;
    margin-left: 0;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 100%;
    background: white;
    font-size: 1px;
    z-index: 5;
}

#panel_1 div.head{
    height: 26px;
}
#panel_2 div.head{
    height: 52px;
}
#panel_3 div.head{
    height: 78px;
}

div.foot {
    text-align: center;
    position: absolute;
    margin-left: 0;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    font-size: 1px;
    z-index: 5;
    color: black;
}



#panel_1 div.foot{
    height: 52px;
}
#panel_2 div.foot{
    height: 26px;
}
#panel_3 div.foot{
    height: 0;
}

span.number {
    font-weight: normal;
    font-size: 100%;
    vertical-align: middle;
}

/* TrackStudio frame navigation refresh */
body.ts-tree-body {
    background: #edf4fa;
}

body.ts-tree-body div.content {
    background: #ffffff;
    border-left: 0;
    border-right: 1px solid #d7e2eb;
}

body.ts-tree-body div.head,
body.ts-tree-body div.foot {
    background: #2f7396;
}

body.ts-tree-body label.header {
    display: block;
    color: #ffffff;
    background-color: #2f7396 !important;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 8px;
    text-shadow: none;
}

body.ts-tree-body label.header img {
    margin-right: 6px;
}

body.ts-tree-body ul.fancytree-container {
    border: 0;
    background: #ffffff;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
}

body.ts-tree-body .fancytree-title {
    color: #1d2b36;
}

body.ts-tree-body .fancytree-icon,
body.ts-tree-body .fancytree-expander {
    filter: saturate(1.05) contrast(1.05);
}

body.ts-tree-body #panel_1 div.head {
    height: 24px;
}

body.ts-tree-body #panel_2 div.head {
    height: 48px;
}

body.ts-tree-body #panel_3 div.head {
    height: 72px;
}

body.ts-tree-body #panel_1 div.content {
    top: 24px;
    bottom: 48px;
}

body.ts-tree-body #panel_2 div.content {
    top: 48px;
    bottom: 24px;
}

body.ts-tree-body #panel_3 div.content {
    top: 72px;
}

body.ts-tree-body #panel_1 div.foot {
    height: 48px;
}

body.ts-tree-body #panel_2 div.foot {
    height: 24px;
}
